<div class="{{actor.type}} flexcol">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BASICFANTASYRPG.Name'}}" data-dtype="String"/>
            </h1>
            {{#if resourcesTemplate}}
            {{> (lookup this "resourcesTemplate") }}
            {{/if}}
        </div>
    </header>


</div>