<div class="simple-actor-sheet">
    <header class="sheet-header">
        <h1 class="actor-name">
            {{#if @root.editable}}
                <input name="name" type="text" value="{{name}}" placeholder="Actor Name" />
            {{else}}
                {{name}}
            {{/if}}
        </h1>
    </header>

    <div class="sheet-body">
        <p class="actor-info">
            <strong>Monster! p</strong> {{actor.type}}
        </p>
        {{#if @root.editable}}
            <div class="form-group">
                <label>Name:</label>
                <input name="name" type="text" value="{{name}}" />
            </div>
        {{/if}}
    </div>
</div>
